<div class="container">
  <header>
    <h1>Bob Oblaw's Law Blog</h1>
  </header>

  <div id="nav">
    <p><a href="/create_post">Create Post</a></p>
  </div>

  <div id="posts">
    <% if @posts %>
      <% @posts.each do |post| %>
        <section>
          <h2><a href= <%= "/post/#{post.id}" %>><%= post.title %></a></h2>
          <p><%= post.body %></p>
          <p><%= post.author %> | created: <%= post.created_at %></p>
        </section>
      <% end %>
    <% end %>
  </div>



</div>
