<div class="container">
  <section>
    <h2><a href= <%= "/post/#{@post.id}" %>><%= @post.title %></a></h2>
    <p><%= @post.body %></p>
    <p><%= @post.author %> | created: <%= @post.created_at %></p>
  </section>
  <p><a href= "/edit/<%= @post.id %>">Edit</a></p>

  <form action="/delete/<%= @post.id %>" method="post" onsubmit="return confirm('Are you sure you want to Delete?')">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="delete">
  </form>
</div>
